/*    ==Parâmetros de Script==

    Versão do Servidor de Origem : SQL Server 2016 (13.0.4001)
    Edição do Mecanismo de Banco de Dados de Origem : Microsoft SQL Server Express Edition
    Tipo do Mecanismo de Banco de Dados de Origem : SQL Server Autônomo

    Versão do Servidor de Destino : SQL Server 2017
    Edição de Mecanismo de Banco de Dados de Destino : Microsoft SQL Server Standard Edition
    Tipo de Mecanismo de Banco de Dados de Destino : SQL Server Autônomo
*/
USE [master]
GO
/****** Object:  Database [dbagenda]    Script Date: 01/10/2017 09:16:50 ******/
CREATE DATABASE [dbagenda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbagenda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbagenda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbagenda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbagenda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbagenda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbagenda]
GO
USE [dbagenda]
GO
/****** Object:  Table [dbo].[tbcontato]    Script Date: 01/10/2017 09:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbcontato](
	[nome] [varchar](50) NULL,
	[endereco] [varchar](50) NULL,
	[numero] [int] NULL,
	[bairro] [varchar](50) NULL,
	[cidade] [varchar](50) NULL,
	[cep] [varchar](50) NULL,
	[telefone] [varchar](50) NULL,
	[celular] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
